# Folder config
.DS_Store

#build file
build/


#personal settings
xcuserdata
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
#xcode state
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
*.moved-aside
DerivedData
.idea/
*.orig

# Carthage
Carthage/Build/
Carthage/Checkouts
OrchextraApp/Carthage/Build/
OrchextraApp/Carthage/Checkouts

*.bcsymbolmap
*.framework.dSYM*

# Fastlane
fastlane/test_output
report.xml

# Jenkins
ci-scripts/
