           body {
                background: none !important;
            }
            .containerPpal {
                border-color: black;
                border-style: solid;
                border-width: 1px;
                margin-bottom: 20px;
                background-color: white;
            }
.col-md-1 {
    width: 5.333%;
}
.col-md-10 {
    width: 90.333%;
}
        .row{
            min-height: 80px;
        }
        .pType {
            margin-top: 26px;
            font-size: 20px;
            text-align: right;
        }
        select {
            height: 43px;
            margin-top: 19px;
            width: 300px;
        }
        #containterElementField {
        }
        #titleField {
            background-color: yellow;
            height: 73px;
        }
        
        input{
            height: 38px;
            margin-top: 21px;
            width: 300px;
        }
        
.containerAcceptEditing {
    width: 100%;
    height: 46px;
}
        .cellConstructor {
            border-color: black;
            border-radius: 10px;
            border-style: solid;
            border-width: 1px;
            margin-bottom: 15px;
            margin-top: 15px;
        }
        .buttonAdd {
            background-color: blue;
            border-radius: 0px 10px 10px 0px;
            color: white;
            float: right;
            font-size: 49px;
            height: 570px;
            margin-right: 13px;
            text-align: center;
            width: 80px;
        }
            .buttonAdd p{
                margin-top: 240px;
            }
            .buttonAdd:hover {
                background-color: skyblue;
                cursor: pointer;
            }
        .buttonRemove {
            background-color: red;
            border-radius: 0px 10px 10px 0px;
            color: white;
            float: right;
            font-size: 49px;
            height: 230px;
            margin-right: 13px;
            text-align: center;
            width: 80px;
        }
            .buttonRemove p{
                margin-top: 70px;
            }
            .buttonRemove:hover {
                background-color: gray;
                cursor: pointer;
            }
        .titleTextField {
            float: left;
            height: 26px;
            margin-left: 94px;
            margin-right: 20px;
            margin-top: 9px;
            width: 300px;
        }
            .titleTextField p{
                float: left;
                margin-top: 3px;
                width: 50px;
            }
            .titleTextField input{
                float: right;
                height: 26px;
                margin-top: 0;
                width: 246px;
            }
        .inputTextField {
            float: left;
            margin-bottom: 5px;
            margin-left: -120px;
            width: 498px;
        }
            .inputTextField p{
                float: left;
                margin-left: 33px;
                margin-top: 11px;
                width: 85px;
            }
            .inputTextField input{
                float: right;
                height: 42px;
                margin-top: 0;
                width: 374px;
            }
        .errorTextField{
            height: 37px;
            margin-left: 69px;
            margin-top: 9px;
            width: 100%;
        }
            .errorTextField p{
                float: left;
                margin-left: -5px;
                margin-top: 3px;
                width: 78px;
            }
            .errorTextField input{
                float: left;
                height: 26px;
                margin-right: 16px;
                margin-top: 0;
                width: 246px;
            }
        .inputWidth {
            width: 70px !important;
        }

        .mandatoryTextField {
            float: left;
            width: 133px;
        }
            .mandatoryTextField input{
                float: left;
                width: 36px;
            }
            .mandatoryTextField p{
                margin-top: 14px;
            }

        .compareTextField {
            float: left;
            margin-top: 8px;
            width: 100%;
        }
        #compare {
            margin-left: 142px;
        }
        #compareKeysField {
            width: 106px;
            float: left;
            margin-right: 10px;
        }
        #containerCompare {
            display: none;
        }
        #compareTextError {
            display: none;
        }
        #compareTextErrorInput {
            width: 166px;
        }
        #textErrorCompareFix {
         margin-left: -88px;
         width: 200px;
        }
            .compareTextField input{
                float: left;
                margin-left: -57px;
                margin-top: 4px !important;
                width: 36px;
            }
            .compareTextField p{
                float: left;
                margin-top: 14px;
                width: 164px;
            }

        .isHiddenTextField {
            float: left;
            margin-top: 1px;
            width: 193px;
        }
            .isHiddenTextField input{
                float: left;
                width: 36px;
            }
            .isHiddenTextField p{
                margin-top: 14px;
            }

            
        .isEditingTextField {
            float: left;
            margin-top: 1px;
            width: 193px;
        }
            .isEditingTextField input{
                float: left;
                width: 36px;
            }
            .isEditingTextField p{
                margin-top: 14px;
            }

    .containerPassEdit {
        height: 50px;
        width: 100%;
        margin-top: 50px;
    }
        .passwordTextField {
            float: left;
            margin-left: 142px;
            margin-top: 0;
            width: 193px;
        }
            .passwordTextField input{
                float: left;
                width: 36px;
            }
            .passwordTextField p{
                margin-top: 14px;
            }


        #listItemsCreated {
            margin-top: 10px;
        }

        #lineSeparator {
            width: 100%;
            height: 2px;
            background-color: gray;
        }
        
        #containerListItemsCreated{
            
        }
        
        #containerJsonItemsCreated{
            border-color: gray;
            border-radius: 10px;
            border-style: solid;
            border-width: 1px;
            margin-bottom: 24px;
        }
        
            #containerJsonItemsCreated p{
                padding: 10px;
            }
        
        .titleTextFieldResult {
            float: left;
            margin-left: 150px;
            margin-right: 77px;
            margin-top: 18px;
        }
        .placeHolderTextFieldResult {
            border-color: gray;
            border-style: solid;
            border-width: 1px;
            float: left;
            height: 42px;
            margin-left: 150px;
            padding-left: 20px;
            padding-top: 11px;
            width: 45%;
        }
        .mandatoryTextFieldResult{
             width: 41px;
        }
        .errorTextFieldResult{
            margin-left: 150px;
        }
        .containterMid {
            height: 52px;
            width: 853px;
        }
        #buttonGenerateJson{
            background-color: green;
            border-color: gray;
            border-radius: 5px;
            border-style: solid;
            border-width: 1px;
            color: white;
            height: 45px;
            position: absolute;
            right: 11px;
            text-align: center;
            top: 18px;
            width: 117px;
        }
            #buttonGenerateJson p{
                margin-top: 12px;
            }
            #buttonGenerateJson:hover {
                cursor: pointer;
                background-color: black;
                color: white;
            }
        
        .containerTextFieldCenter{
            height: 43px;
            margin-left: 144px;
            width: 100%;
        }
.versionCreatedMinAge {
    margin-top: 0px !important;
}
.containerTextFieldCenter .isEditingTextField{
    margin-top: 8px !important;
}

        pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
        .string { color: green; }
        .number { color: darkorange; }
        .boolean { color: blue; }
        .null { color: magenta; }
        .key { color: red; }

        #ControlColor {
            background-color: silver;
            border: 2px solid black;
            border-radius: 11px;
            display: none;
            height: 328px;
            left: 423px;
            position: absolute;
            top: 130px;
            width: 613px;
        }
        .cp-app,#description {
             position: absolute !important;
             visibility: hidden !important;
        }

        .cellColor {
            border: 1px solid black;
            height: 30px;
            width: 100px;
            float:left;
            margin-top: 0px;
        }
        
        .cellColorCreate {
            border: 1px solid black;
            height: 30px;
            width: 54px;
            float:left;
            margin-top: 0px;
        }
        .colorZone {
            float: left;
            height: 38px;
            margin-left: 31px;
            padding-top: 7px;
        }
            .colorZone p{
                float: left;
                margin-right: 10px;
                margin-top: 5px;
            }
        
        .containerTextFieldTop{
            height: 43px;
            width: 100%;
        }        
        #colorId{
            margin-right: 0 !important;
    		margin-top: 4px;
    		text-align: center;
    		width: 100%;
        }
        .textErrorP {
            margin-right: 6px;
        }
        #closeSaveColor{
            background-color: white;
            border: 1px solid black;
            border-radius: 5px;
            height: 40px;
            left: 220px;
            position: absolute;
            text-align: center;
            top: 274px;
            width: 150px;
        }
            #closeSaveColor p{
                font-size: 16px;
                margin-top: 8px;
            }
        #closeSaveColor:hover{
            background-color: gray;
            cursor: pointer;
        }
        
        .containterTop{
            height: 50px;
        }
        
        
        .butonCopyPaste {
            border: 1px solid black;
            border-radius: 5px;
            height: 30px;
            margin-left: 5px;
            margin-top: 5px;
            padding-top: 4px;
            text-align: center;
            width: 100px;
        }
            .butonCopyPaste:hover{
                background-color: gray;
                cursor: pointer;
            }
        
        #bar {
           /* visibility:hidden;*/
            position:absolute;
            width: 0px;
            height: 0px;
            -moz-appearance:none;
            outline:0px none transparent;
        }
        
        #selectTypeKeyboard {
            float: left;
   			margin-left: 10px;
    		margin-top: 0;
    		width: 199px;
        }        
        

  
.validatorResult{
    float: left;
    margin-left: 16px;
    margin-top: 22px;
    margin-right: 20px;
}
 
.keyboardResult{
    float: left;
    margin-left: 16px;
    margin-top: 11px;
} 

#containerListItemsCreated input {
	background-color: silver;
}   
.styleField{

}
    .styleField h4 {
        margin-left: 29px;       
    }

.spaceSeparate{
    height: 47px;
}
.colorTittleP {
	margin-left: 10px;
}

/**----- PICKER MODE ----- */
.optionModel {
    float: left;
    margin-top: 0;
}
#valuesOptionsSelector { 
    margin-left: 148px;
    float: left;
    width: 100%;
}
.errorTextFieldPicker {
    width: 380px;
    float: left;
}
#containerErrorMandatoryPicker{
    height: 47px;
    float: left;
    width: 100%;
}
#addFieldPickerText{
    float: left;
}
#containerPickerFieldAdd{
    width: 100%;
    height: 37px;
    margin-top: 8px;
}
#sumatoryPicker{
    border: 1px solid black;
    border-radius: 5px;
    float: left;
    height: 30px;
    margin-left: 10px;
    margin-top: -4px;
    text-align: center;
    width: 30px;
}
    #sumatoryPicker:hover {
        background-color: gray;
        cursor: pointer;
        color:white;
    }
    #sumatoryPicker p {
        font-size: 19px;
        margin-top: -2px;
    }

.containerPickerField{
    height: 44px;
}
    .containerPickerField input{
       float: left;
        margin-top: 0;
    }
    .containerPickerField p {
        border: 1px solid black;
        border-radius: 5px;
        float: left;
        font-size: 19px;
        height: 30px;
        margin-left: 10px;
        margin-top: 4px;
        text-align: center;
        width: 30px;
    }
    .containerPickerField p:hover {
        background-color: gray;
        cursor: pointer;
        color:white;
    }

.sizeZone {
    float: left;
    height: 51px;
    margin-left: 51px;
    width: 100%;
}
    .sizeZone p {
        float: left;
        margin-top: 15px;
    }
    .sizeZone input {
        float: left;
        height: 25px;
        margin-left: 12px;
        margin-right: 10px;
        margin-top: 13px;
        width: 50px;
    }
.nextColor {
    font-weight: bold;
    height: 17px;
    width: 100%;
}
.pickerConstructor{
    min-height: 410px;
}
.pickerColorZone {
    height: 119px;
}
.colorOKPicker {
    margin-left: 12px;
}
.buttonAddPicker {
    height: 581px;
}
    .buttonAddPicker p {
        margin-top: 257px;
    }
    
.withOutStyle{
    width: 100%;
}
.acceptButtonTextField {
    height: 43px;
    width: 100%;
    float:left;
}
    .acceptButtonTextField input{
        float: left;
        height: 26px;
        margin-right: 16px;
        margin-top: 0;
        width: 246px;
    }
    .acceptButtonTextField p {
        float: left;
        margin-left: 2px;
        margin-right: -2px;
        margin-top: 3px;
        width: 148px;
    }
.editVersionAccept {
    height: 33px;
}
.stylePicker{
    height: 205px;
}
.buttonRemoveText {
    height: 476px;
}
    .buttonRemoveText p {
        margin-top: 209px;
    }
.minAgeContainer {
    height: 43px;
    width: 100%;
    margin-top: 55px;
}
    .minAgeContainer input{
        float: left;
        height: 26px;
        margin-right: 16px;
        margin-top: 0;
        width: 246px;
    }
    .minAgeContainer p {
        float: left;
        margin-left: 47px;
        margin-right: -48px;
        margin-top: 3px;
        width: 148px;
    }
.keyTextField {
    height: 32px;
    margin-left: 107px;
    margin-top: 10px;
    width: 100%;
}
    .keyTextField input{
        float: left;
        height: 26px;
        margin-top: 0;
        width: 248px;
    }
    .keyTextField p{
        float: left;
        margin-right: 10px;
        margin-top: 2px;
        width: 30px;
    }
#keyTextField {

}
.inputColorHex {
    float: left;
    height: 30px;
    margin-left: 5px;
    margin-top: 0;
    width: 65px;
}

.fontPositionZone {
    float: left;
    height: 50px;
    margin-left: 72px;
    width: 100%;
}
    .fontPositionZone p{
        float: left;
        margin-right: 8px;
        margin-top: 10px;
        width: auto;
    }
    .fontPositionZone select{
        float: left;
        margin-top: 0;
        width: 180px;
    }
#custonFont{
    display: none;
    float: left;
    margin-top: 2px;
    width: 200px;
}
#selectTypeFont{
    width: 290px;
    margin-right: 20px;
}
.alignZone {
    margin-left: 71px;
}
    .alignZone input {
        width: auto;
    }

.imagesZone {
    float: left;
    height: 51px;
    margin-left: 21px;
    width: 100%;
}
    .imagesZone p {
        float: left;
        margin-top: 15px;
    }
    .imagesZone input {
        float: left;
        height: 25px;
        margin-left: 12px;
        margin-right: 10px;
        margin-top: 13px;
        width: 90px;
    }
.withOutStyle2 {
    margin-left: 31px;
}

#custonValidator {
    float: left;
    margin-left: 15px;
    margin-top: 0;
    position: relative;
    top: 9px;
    width: 140px;
    display: none;
}

#customValidatorTextField{
    width: 200px;
    margin: 13px 0 0 17px;
}

.validatorContainer {
    height: 56px;
    margin-left: 145px;
    width: 100%;
}

#validatorTextError{
    float: left;
    margin-left: 21px;
    display: none;
}
    #validatorTextError p {
        float: left;
        padding-top: 18px;
    }
    #validatorTextError input{
        float: left;
        margin-left: 10px;
        margin-top: 9px;
        width: 200px;
    }

#selectTypeValidator {
    float: left;
    margin-left: 0;
    margin-top: 8px;
    width: 179px;
}
#minMaxValidatorContainer{
    display: none;
    float: left;
}
    #minMaxValidatorContainer p {
        float: left;
        margin-left: 10px;
        margin-top: 20px;
    }
    #minMaxValidatorContainer input {
        float: left;
        margin-left: 10px;
        margin-top: 10px;
    }

#palceHolderTextField{
    height: 26px;
    margin-left: 6px;
    margin-top: 7;
    width: 246px;
    float: left;
}
.validatorCreated {
    height: 26px;
}
.resultCreated {
    margin-top: 0px !important;
}
    .resultCreated input {
        height: 26px;
        margin-top: 0px !important;
    }

.customValidatorCreated {
    width: 70px !important;
}

.textErrorCreated {
    width: 70px !important;
}

.customValidatorCreated {
    width: 70px !important;
}

#containerOptionalDatePicker {
    height: 51px;
    margin-left: 140px;
    width: 100%;
    float: left;
}

.datePickerMandatory {
    width: 193px !important;
}

.datePickerMinAge {
    float: left;
}

.containerOptionalPicker{
    height: 51px;
    margin-left: 140px;
    width: 100%;
    float: left;
}
    .containerOptionalPicker div{
        width: 193px !important;
    }

    .optionalBooleanContainer div {
        width: 193px !important;
    }

    .isEditingTextField {
        margin-top: 0px !important;
    }


.optionalBooleanContainer .isEditingTextField{
    margin-top: 0px !important;
}